.full-results-wrapper{
    width: auto;
    clear: both;
}

.full-results-wrapper div{
    display: inline-block;
    color: #dddddd;
    padding: 5px;
}

.full-results-wrapper {
    .query-wrapper, .plan-wrapper{
        background: rgba(22,22,22,0.7);
        border-radius: 3px;
        margin: 10px;
    }
}

.full-results-wrapper h5, h6{
    color: #dddddd;
    padding: 2px;
    line-height: 0.7;
}