.results-wrapper{
    h5{
        color: white;
    }

    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    max-height: 250px;
    overflow: scroll;
}

.p{
    color: #444;
}

.single-destination-table{
    height: auto;
    width: inherit;
    color: #dddddd;
    margin: 2px;
    padding: 0px;
}

.results-table{
    padding: 10px;
    margin: 5px auto;
    color: #dddddd;
    border: 0px;
    text-align: center;
    width: 30%;
    max-width: 350px;
    max-height: 300px;
    overflow-y: scroll;
}

.results-table td {
    text-align: center;
    padding: 5px;
    margin: 5px 10px;
}

.results-list{
    width: 100%;
    overflow: scroll;
}

.results-table ul{
    list-style-type: none;
    text-align: center;
    padding: 3px;
}

.results-table li{
    font-size: 1.3em;
    padding: 2px;
    margin: 2px;
    height: auto;
    background: rgba(77,77,77,0.7);
    border-radius: 5px;
    width: 100%;
}

.results-table li:hover{
    background: rgba(22,177,22,0.9);
}
