.home-container {
    height: auto;
    overflow: scroll;
    color: white;
}

.header-wrapper{
    width: auto;
    text-align: center;
    display: inline-block;
}

.header{
    width: 340px;
    overflow-x: hidden;
    text-align: center;
    float: left;
    color: #dddddd;
    display: inline-block;
}

.header img{
    height: 150px;
    width: 150px;
}


.logo{
    width: 340px;
    display: inline-block;
}

.opt-select{
    display: inline-block;
    width: 340px;
    color: #dddddd;
    text-align: center;
    font-size: 17px;
    float: left;
    margin: 0 9%;
}

opt-select table, td, tr{
    color: #dddddd;
    padding: 2px;
    margin: 0;
    text-align: center;
}

/*
.opt-select label {
    color: #dddddd;
}

.opt-select input{
    position: absolute;
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    visibility: hidden;
}

.opt-select label span{
    float: left;
    display: inline-block;
    width: 60px;
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 15px 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    min-height: 25px;
    vertical-align: middle;
    font-size: 10px;
}

.opt-select label:hover span{
    cursor: pointer;
}

.opt-select input:checked + span,
.Checked + span {
    background-color: #A5DC86;
    box-shadow: none;
}

.opt-radio:hover span{
    cursor: pointer;
}

.opt-radio input:checked + span {
    background-color: #A5DC86;
    box-shadow: none;
}
*/

.buttons-container {
    margin: 15px 5px;
    width: 340px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;

    .buttons{
        margin: 2px;
        display: inline;

        button{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 14px 10px;
            margin: 1px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
        }

        button:hover{
            background-color: #6bf442; /* Green */
        }
    }

    .toggle label{
        color: white;
        font-size: 11px;
        vertical-align: text-top;
    }

    .toggle table{
        display: inline;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
    }

    li {
        float: left;
    }

}

.svg-container{
    width: 400px;
    height: 200px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    white-space: nowrap;
    float: left;
    display: inline-block;
    margin: 20px 20px 10px;
}
