.home-container {
    height: auto;
    overflow: scroll;
    color: white;
}

.header-wrapper{
    width: auto;
    display: inline-block;
}

.header{
    width: 340px;
    overflow-x: hidden;
    text-align: center;
    float: left;
    color: #dddddd;
}

.header img{
    height: 150px;
    width: 150px;
}


.logo{
    width: 340px;
}

.opt-select label {
    color: #dddddd;
}

.buttons-container {
    margin: 5px;
    width: 340px;
    text-align: center;
    white-space:nowrap;

    .buttons{
        margin: 2px;
        display: inline;

        button{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 14px 10px;
            margin: 1px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
        }
    }

    .toggle label{
        color: white;
        font-size: 11px;
        vertical-align: text-top;
    }

    .toggle table{
        display: inline;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
    }

    li {
        float: left;
    }

}

.svg-container{
    width: 600px;
    height: 300px;
    background: blue;
    white-space: nowrap;
    float: left;
    display: inline-block;
}

.svg-container i{
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    padding: 5px;
    margin: 2px;
}
