.table-container {

  color: white;

  table{
      margin-left: 10%;
      margin-right: 10%;
  }

  .pair-table {
    table, th, td {
      border: 1px solid white;
      color: white;
    }

    td {
      padding: 10px;
      margin: 5px;
    }
  }

  .dropzone-style {
    padding-bottom: 10px;
  }

  .checkboxes{
    display: inline;
    font-size: .8em;
    font-family: 'Raleway', 'Montserrat', 'Manuale', sans-serif;
  }

  text-align: center;

}