@import "Home/Home";
@import "Home/Header/Search/Search";
@import "Home/Header/Search/LoadsaveDropzone/LoadsaveDropzone";
@import "Home/Results/Results";
@import "Home/Results/QueryResults/QueryResults";
@import "Home/Results/Itinerary/Itinerary";
@import "Home/Map/Map";

.app-container {
    height: 700px;
    overflow: hidden;
    display: inline;
}
