@import "Home/Home";
@import "Home/SearchBar/SearchBar";
@import "Home/Table/Table";
@import "Home/Pair/Pair";

.app-container {
    height: 700px;
    display: inline;
    overflow: hidden;
}

.header{
    text-align: center;
}
