body {
    background: url("/src/images/joshua-earle-64814_optimized.jpg") no-repeat;
    background-position: center center;
    background-size: 1920px 1080px;
    background-attachment:fixed;
    font-family: 'Raleway', 'Montserrat', 'Manuale', sans-serif;
}